body{
  background-color: rgb(247, 252, 253);
}
.profilePic {
  align-self: flex-start;
  max-width: 25%;
}

.userDetails {
  text-align: left;
  margin-top: 20px;
  background-color: #4d8487;
  padding: 20px;
  border: 1px solid #e1d0d0;
  border-radius: 5px;
}

.outerDiv{
position: absolute;
left:17%;
top:80%;
text-align: left;
align-items: flex-start;
}
